.videoCard {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
    width: 700px; /* Fijar el ancho de las tarjetas */
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Centrar horizontalmente y agregar margen vertical */
  }
  
  .videoCard:hover {
    transform: translateY(-5px);
  }
  
  .videoCard h3 {
    margin: 0 0 10px;
  }
  
  .videoCard p {
    margin: 0 0 10px;
    color: #555;
  }
  
  .videoCard iframe {
    margin: 20px 0; /* Agregar margen superior e inferior al iframe */
  }